/* ============================== Font Face ============================== */

@font-face {
    font-family: 'PixelifySans';
    src: url(PixelifySans.ttf);
}

@font-face {
    font-family: 'DM Sans';
    src: url(DMSans.ttf);
}

/* ============================== Typography ============================== */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #D9D0DD;

    font-family: 'PixelifySans', sans-serif;
    font-size: 22px;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 22px;
}

.small-text {
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
}

/* ============================== Buttons ============================== */

.begin-button {
    display: inline-block;
    padding: 16px 30px;
    margin-top: 10px;

    background-color: #6A4773;
    color: #fff;
    border: none;
    border-radius: 10px;

    font-family: 'PixelifySans', sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
}

.begin-button:hover {
    background-color: #A78DB0;
    color: #000;
}

.answers-button {
    display: block;
    width: 85%;
    max-width: 400px;
    margin: 10px auto;
    padding: 12px 18px;
    
    background-color: #A78DB0;
    color: #000;
    border: none;
    border-radius: 10px;
    
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    
    cursor: pointer;
}

.answers-button:hover, 
.answers-button:active {
    background-color: #6A4773;
    color: #fff;
}

.explore-button {
    display: inline-block;
    width: 100px;
    height: 80px;
    padding: 18px;
    margin-top: 10px;
    
    background-color: #6A4773;
    color: #fff;
    border: none;
    border-radius: 10%;
    
    font-family: 'PixelifySans', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    
    cursor: pointer;
}

.explore-button:hover {
    background-color: #A78DB0;
    color: #000;
}

/* ============================== Containers (Need to rename) ============================== */

#result {
    display: none;
    padding: 10px;
    width: 90%;
    max-width: 400px;
    background-color: #D9D0DD;
}

#result p {
    font-size: 20px;
    margin: 10px 0;
}

.result-image img {
    max-width: 360px;
    height: auto;
    margin: 4px;
    margin-top: 20px;
}

#quiz {
    font-size: 24px;
}

#quiz p{
    font-size: 22px;
    margin: 10px 0;
}

#quiz img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 300px;
    font-size: 24px;
}

.quiz-box {
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    
    background-color: #D9D0DD;
    color: #0b032d;
    padding: 20px;
    
    font-family: 'PixelifySans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#progress-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
    margin-bottom: 15px;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #7b3f8f; /* Adjust color to match your theme */
    transition: width 0.3s ease-in-out;
}

/* ============================== Media Queries ============================== */

@media (max-width: 768px) {
    .result-image img {
        max-width: 100%;  /* Allow image to scale down on mobile */
    }
}

/* ============================== Footer ============================== */

footer {
    text-align: center;
}